.header {
    text-align: center;
    background-color: rgb(36, 92, 196);
    color: white;
    margin-bottom: 3%;
}

.name-title {
    padding: 20px
}

.nav {
    margin-left: 34%;
}

.nav-list a {
    font-size: 30px;
    color: white;
    padding-left: 30px;
    padding-right: 30px
}

.nav-list a:hover {
    color: orange;
}


