/* title */
.header {
    text-align: center;
    background-color: rgb(36, 92, 196);
    color: white;
    margin-bottom: 3%;
}

.name-title {
    padding: 20px;
    background-color: black;
    font-size: 50px
}

/* nav */
.nav-list a {
    font-size: 30px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav-list a:hover {
    text-decoration: underline;
    color: white
}

/* bio */
.bio-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px
}

.card {
    margin: 30px; 
}

.card-title {
    color:rgb(36, 92, 196)
}

#status-title {
    color: white
}

#img-card  {
    background-color: black;
    color: white
}

#hobbies-header, #interests-header {
    background-color: black;
    color: white
}

#hobbies-body {
    font-size: 20px
}

#even-hobbies {
    background-color: rgb(36, 92, 196);
    color: white
}

/* apps */
.apps {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
}

.apps div {
    margin: 2%;
    margin-bottom: 5%;
}

.apps a {
    color:black;
    font-size:20px;
    text-decoration: none;
}

.apps p {
    margin-top: 15px;
}

.apps a:hover {
    color: rgb(36, 92, 196);
}

.apps img {
    border-radius: 20px;
}

.apps img:hover {
    filter: saturate(150%);
    box-shadow: 0 6px 15px 0 rgb(36, 92, 196)
}
  
/* contact */
.form {
    margin: 20px;
}

.form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

/* footer */
.portfolio-footer {
    background-color: black;
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
    font-size:25px;
    padding:10px;
    margin-top:50px;
    border-top: solid 20px rgb(36, 92, 196);
    bottom: 0;
    left: 0;
    padding-top: 50px;
}

.portfolio-footer a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.portfolio-footer a:hover {
    text-decoration: underline;
    color: white
}

/* screens */
@media screen and (max-width: 600px) {
    .portfolio-footer a, .nav-list a
     {
       margin-left: -33%;
    }
  } 

@media screen and (max-width: 600px) {
    .apps
     {
       justify-content: center;
    }
  } 

